extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Torben Florup Schytt-Nielsen

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a developer currently working on the Treehouse Full Stack JavaScript Techdegree. So far I have created 6 out of 10 projects in the Techdegree. I have a Master of Science in Public Administration and work as a government official in the Danish Ministry of Culture.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li jQuery
          li Express
          li HTML
          li CSS 
          li Node.js
          li Pug
          li npm
          li Git
          li Python
        h6 Contact Info

        ul
          li +45 30229479
          li tfsn86@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/torbenschyttnielsen/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/tfsn86' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/SchyttTorben' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  